body {
    background-image: url('whitebrick.jpg');
    font-family: 'Courgette', cursive;
}

.image{
    padding:100px;
}

.materialboxed{
    margin-top:20px;
}

.white {
    padding:100px;
    display:none;
}

.display{
    margin-top: 10px;
}
.hidden {
    display:none;
}